body{
  margin: 0;
}
.card{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: royalblue;
  width: 30em;
  color: white;
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-element{

}
nav{
  padding: 10px;
  font-size: 20px;
  background: indigo;
  color: aliceblue;
  /* height: 70px; */
}
nav a{
  color: aliceblue;
  padding-right: 50px;
}
.margin{
  margin: 10px;
}
.note{
  padding: 15px;
  margin: 15px 5px;
  border-radius: 5px;
  background: white;
  color: black;
  font-size: 20px;
}